/* app/globals.css */

body {
    margin: 0;
    font-family: 'Courier New', Consolas, monospace;
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 5rem 25rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input-box {
    background: transparent;
    border: none;
    color: #BEBEBE;
    width: 70%;
    font-family: 'Courier New', Consolas, monospace;
    font-weight: 700;
    font-size: 1.5rem;
    outline: none;
}

.input-box:focus {
    outline: none;
}

.result {
    color: #8EFF1E;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1.5rem;
    text-align: right;
    white-space: nowrap;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: 600;
    box-sizing: border-box;
}

.result:hover {
    background-color: #8EFF1E;
    color: #3F3F3F;
}

@media (max-width: 768px) {
    body {
        font-size: 1.2rem;
    }

    .container {
        padding: 2rem;
    }

    .input-box {
        width: 100%;
        font-size: 1.2rem;
    }

    .result {
        font-size: 1.2rem;
        padding: 0.2rem;
    }
}
